.aligncenteruppercase {
    text-align: center;
    text-transform: uppercase;
}

.moxie-footer {
    background: rgb(250, 0, 229);
    color: white;
}

#header-with-info {
    margin-bottom: 0;
}

#button-inline-left {
    display: inline-block;
    float: left;
    margin-left: 25%;
}

#button-inline-right {
    display: inline-block;
    float: right;
    margin-right: 25%;
}

.keep-left {
    width: 45%;
    float: left;
}

.keep-right {
    width: 45%;
    float: right;
}